.workspace-container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}
.folder-tree {
    flex: 1;
}
.file-details {
    flex: 4;
}
.search-bar {
    width: 250px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}
.file-details-placeholder {
    font-size: 18px;
    color: #587bf8
}